video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.App {
  background-color: rgba(255, 255, 255, 0.5);
}
.container {
  display: flex;
  justify-content: center;
}
.search {
  width: 100%;
  padding: 12px 24px;
  background-color: transparent;
  font-size: 14px;
  line-height: 18px;
  color: #575756;
  border: 2px solid #4a4235;
  -webkit-box-shadow: inset 0px 0px 0px 4px #ecc69a;
  border-radius: 3px;
}
.heading{
  margin-right: 95px;
}
.btn{
  -webkit-border: 1px solid #4a4235;
  box-shadow: inset 0px 0px 0px 4px #ecc69a;
  background-color: transparent;
  margin-right: -360px;
  margin-top: -46px;
  border-radius: 3px;
}
.list{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tasty{
  background: #ffff;
  border: 1px solid #4a4235;
  box-shadow: inset 0px 0px 0px 4px #ecc69a;
  padding: 10px 10px;
  outline: transparent;
  transition: box-shadow .2s ease-in-out;
  border-radius: 3px;
  margin-top: 40px;
}
.par{
  display: block;
  font-size: 18px;
  margin: 0;
  padding: .4em .4em .4em .8em;
  color: #020202;
  font-family: 'Roboto', sans-serif;
}
li{
  display: block;
  padding: .4em .4em .4em .8em;
  font-size: 20px;
  color: #020202;
  font-family: 'Roboto', sans-serif;
}
li:hover{
  background: #f1ebe7;
}
ul {
  list-style: none; 
  padding: 0;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
}
.icon{
  width: 20px;
}

h1, h2, h3, ul, p{
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}


@media all and (max-width: 500px){
  h1{
    font-size: 20px;
    margin-top: 30px;
  }
  h2, h3{
    font-size: 15px;
  }
  li, .par{
    font-size: 15px;
  }
  
}
